<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/90ccc307bf.js" crossorigin="anonymous"></script>
</head>

<body>
    <footer class="bg-light text-center text-white sticky-bottom mt-5 opacity-25">
        <div class="container p-2 pb-1">
            <section class="mb-2">
                <a href="" class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button"><i
                        class="fab fa-facebook-f"></i></a>
                <a href="https://instagram.com/farmxsofficial?igshid=MzNlNGNkZWQ4Mg" class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/company/farmxs/" class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>
            </section>
        </div>
        <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright |
            <a class="text-white" href="index.php">FarmXS</a>
        </div>
    </footer>
</body>

</html>