<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/90ccc307bf.js" crossorigin="anonymous"></script>
    <style>
        .margin-left {
            margin-left: 10px !important;
        }

        .margin-right {
            margin-right: 20px !important;
        }

        @media (max-width: 991px) {
            .navbar-brand.text-center {
                text-align: center !important;
                margin: 0 auto !important;
            }
        }
    </style>
</head>

<body>       
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(to top, #e3f2fd, white);">
        <div class="container-fluid">
            <img src="logo.png" style="width: 60px;" alt="">
            <button class="navbar-toggler" style="border: none; position: absolute; top: 15px; right: 15px;" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand text-center text-lg-left mx-auto margin-right" href="index" style="font-size: 20px;">farmXS</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link mx-1" href="index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link mx-1" href="shop">Shop</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link mx-1" href="/admin">Admin</a>
                    </li>
                </ul>
            </div>           

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-1 mx-1 mt-lg-0">
                </ul>
                <div class="d-flex align-items-center">
                    <a class="btn btn-dark px-3" href="login" role="button"><i
                            class="fa-solid fa-right-to-bracket"></i>
                    </a>
                    <a class="btn btn-dark px-3 margin-left margin-right" href="" role="button"><i
                            class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
                <form class="form-inline my-3 my-lg-2">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    </div>
    </nav>
</body>

</html>